<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>466463211660-e9e7lu8nkr3boka6kg7msu2rn9mi5hi5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466463211660-e9e7lu8nkr3boka6kg7msu2rn9mi5hi5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>466463211660-iidl43jpfhhc0s0hkk9q66tese7enf6l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBiQE2slHOD68CLl5g42UogPFAdSW0Yy84</string>
	<key>GCM_SENDER_ID</key>
	<string>466463211660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eva.EvaConnect</string>
	<key>PROJECT_ID</key>
	<string>aviation-connect-eva</string>
	<key>STORAGE_BUCKET</key>
	<string>aviation-connect-eva.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466463211660:ios:c5831fede2d5aeaca7fba9</string>
</dict>
</plist>